{% extends 'base.html.twig' %}

{% block title %}Me connecter !{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Tu es connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('authentication-logout') }}">Me déconnecter</a>
        </div>
    {% endif %}

    {% include '_partials/title.html.twig' with { title: 'Me connecter' } only %}
    <label for="inputUsername">Pseudo</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" autocomplete="username" required autofocus>
    <label for="inputPassword">Mot de passe</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-primary mt-2" type="submit">
        Connecter
    </button>
</form>
{% endblock %}
