<div class="col-xl-4 col-12 col-md-6 my-2 px-2">
    <div class="card">
        <div class="card-header">
            {{user.getUsername()}} - {{user.getId()}}
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Email : {{user.getEmail()}}</li>
            <li class="list-group-item">
                Roles : 
                {% for role in user.getRoles() %}
                    {{role}}
                {% endfor %}
            </li>
            <li class="list-group-item">Prénom : {{user.getFirstname()}}</li>
            <li class="list-group-item">Nom : {{user.getLastname()}}</li>
            <li class="list-group-item">Address : {{user.getAddress()}}, {{user.getPostalCode()}}, {{user.getCity()}}</li>
            <li class="list-group-item">Créée le : {{user.getCreatedAt|date('d/m/Y H:i')}}</li>
            <li class="list-group-item">MAJ le : {{user.getUpdatedAt|date('d/m/Y H:i')}}</li>
            <li class="list-group-item">Slug: {{user.getSlug()}}</li>
            <li class="list-group-item">
                Est fermé :
                {% if user.getIsClose() %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </li>
            <li class="list-group-item">
                Est banni :
                {% if user.getIsBan() %}
                    Oui
                {% else %}
                    Non
                {% endif %}
            </li>
        </ul>
        <div class="card-footer">
        {% if user.getIsClose() %}
        {% else %}
            <a href="{{ path('user-delete', {slug: user.getSlug()}) }}" class="btn btn-danger btn-lg" tabindex="-1" role="button">Clôturer</a>
        {% endif %}
        {% if user.getIsBan() %}
            <a href="{{ path('user-unban', {slug: user.getSlug()}) }}" class="btn btn-warning btn-lg" tabindex="-1" role="button">Débannir</a>
        {% else %}
            <a href="{{ path('user-ban', {slug: user.getSlug()}) }}" class="btn btn-warning btn-lg" tabindex="-1" role="button">Bannir</a>
        {% endif %}
        </div>
    </div>
</div>

