
{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    {% include '_partials/title.html.twig' with { title: 'Mon compte' } only %}
    {{ form_start(userForm) }}
        {{ form_row(userForm.username) }}
        {{ form_row(userForm.firstname) }}
        {{ form_row(userForm.lastname) }}
        {{ form_row(userForm.email) }}
        {{ form_row(userForm.address) }}
        {{ form_row(userForm.postal_code) }}
        {{ form_row(userForm.city) }}
        {{ form_row(userForm.phone_number) }}
        <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(userForm) }}
    {{ form_start(resetPasswordForm) }}
        {{ form_row(resetPasswordForm.oldPassword) }}
        {{ form_row(resetPasswordForm.newPassword) }}
        <button type="submit" class="btn btn-primary">Mettre à jour le mot de passe</button>
    {{ form_end(resetPasswordForm) }}
    <a href="{{ path('user-delete-me') }}" class="btn btn-danger btn-lg mt-5" tabindex="-1" role="button">Supprimer mon compte (définitif)</a>
{% endblock %}
